* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button {
  outline: none;
  border: 0;
  background: transparent;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Light.woff2") format("woff2"), url("../fonts/Gilroy-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-ExtraBold.woff2") format("woff2"), url("../fonts/Gilroy-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
body {
  background: #F6F6F6;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.home {
  background: #FFFFFF;
}

.container {
  max-width: 943px;
  margin: 0 auto;
  padding: 0 30px;
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: none;
  }
  nav.menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 80px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    overflow: auto;
    display: grid;
  }
  .menu._active {
    left: 0;
    justify-content: end;
    display: grid;
    grid-auto-flow: row;
    grid-template: auto 1fr/1fr;
  }
  div.menu__language {
    padding: 0px 0 57px 0;
    text-align: end;
    writing-mode: vertical-rl;
    transform: rotate(360deg);
    width: 100%;
    height: 100%;
    font-size: 34px;
    line-height: 42px;
  }
  .menu__list li {
    margin: 0 0 68px 0px;
  }
  .menu__list li p {
    font-size: 34px;
  }
  .menu__list li:last-child {
    margin: 0 0 0px 0px;
  }
  div.home__body {
    padding: 0 0 0 0;
  }
  div.border {
    display: none;
    margin: 0 0 0 0;
  }
  div.present {
    padding: 65px 0 83px 0;
  }
  div.present__text {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, auto);
    -moz-column-gap: 20px;
         column-gap: 20px;
    justify-content: space-between;
    align-items: start;
  }
  div.present__text a {
    display: none;
  }
  div.present__text .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    margin: 15px 0 0 0;
  }
  div.present__text .menu__icon span,
  div.present__text .menu__icon::before,
  div.present__text .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background: #000000;
  }
  div.present__text .menu__icon::before,
  div.present__text .menu__icon::after {
    content: "";
  }
  div.present__text .menu__icon::before {
    top: 0;
  }
  div.present__text .menu__icon::after {
    bottom: 0;
  }
  div.present__text .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  div.present__text .menu__icon._active span {
    transform: scale(0) translate(0px, -50%);
  }
  div.present__text .menu__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  div.present__text .menu__icon._active::after {
    bottom: 50%;
    transform: rotate(46deg) translate(0px, 50%);
  }
  .present__old {
    padding: 23px 0 37px 0;
    font-family: "Gilroy";
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
  }
  div.present__img {
    display: none;
  }
  div.present__img_mobile {
    display: block;
  }
}
.home__body {
  padding: 33px 0 104px 0;
}

.bold {
  font-weight: 700;
  color: #000000;
}

.menu__list p {
  font-family: "Gilroy";
  font-size: 18px;
  line-height: 22px;
  position: relative;
}
@media (min-width: 767px) {
  .menu__list {
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-content: space-between;
  }
}
.border {
  margin: 31px 0 0 0;
  border: 1px solid #828282;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.present__text {
  margin: 39px 0 0 0;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
  align-items: center;
}
.present__text h2 {
  font-family: "Gilroy";
  font-size: 47.3392px;
  line-height: 59px;
  color: #070707;
  font-weight: bold;
}
.present__text p {
  font-family: "Gilroy";
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
}
.present__text .menu__icon {
  display: none;
}

.present__language {
  font-family: "Gilroy";
  color: #828282;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

.present__img {
  margin: 30px 0 0 0;
}
.present__img img {
  max-width: 100%;
}

.present__img_mobile {
  display: none;
}
.present__img_mobile img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-me {
  padding: 0 0 107px 0;
}
.about-me h2 {
  font-family: "Gilroy";
  font-weight: 700;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  color: #070707;
  padding: 120px 0 17px 0;
}
.about-me p {
  font-family: "Gilroy";
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  padding: 0px 0 50px 0;
}
.about-me p:last-child {
  padding: 0;
}

.skills {
  background: #FFFFFF;
  padding: 0 0 110px 0;
}

.skills__body {
  text-align: center;
  padding: 91px 0 0 0;
}
.skills__body h2 {
  font-family: "Gilroy";
  font-weight: 700;
  font-size: 34px;
  text-align: center;
  color: #070707;
}
.skills__body p {
  padding: 69px 0px 0px 0px;
  font-family: "Gilroy";
  font-weight: normal;
  font-size: 18px;
  text-align: center;
  color: #070707;
}

.skills__img {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  gap: 30px;
  padding: 83px 0 0 0;
  font-family: "Gilroy";
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #828282;
}
.skills__img .text-center {
  text-align: center;
}

.grid {
  justify-items: center;
  display: grid;
  grid-auto-flow: row;
  grid-template: auto 1fr/1fr;
}
.grid p {
  padding: 20px 0 35px 0;
}

@media (max-width: 1000px) {
  .skills__img {
    grid-template-columns: repeat(2, auto);
  }
}
@media (max-width: 520px) {
  .skills__img {
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  }
}
.portfolio {
  background-color: #F6F6F6;
  padding: 113px 0 96px 0;
}

.portfolio__body h2 {
  font-family: "Gilroy";
  font-weight: 700;
  font-size: 34px;
  text-align: center;
  padding: 0 0 47px 0;
}
.portfolio__body .img {
  max-width: 100%;
}
.portfolio__body p {
  font-family: "Gilroy-Medium";
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-decoration-line: underline;
  color: #070707;
  padding: 44px 0 99px 0;
}
.portfolio__body p:last-child {
  padding: 44px 0 0 0;
}

.contacts {
  background: #FFFFFF;
  padding: 114px 0 123px 0;
}

.contacts__body h2 {
  font-family: "Gilroy";
  font-weight: 700;
  font-size: 34px;
  text-align: center;
  padding: 0 0 20px 0;
}
.contacts__body p {
  font-family: "Gilroy";
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #070707;
  margin: 0 0 29px 0;
}
.contacts__body .message {
  max-width: 943px;
  margin: 0 auto;
  text-align: center;
  background-color: #070707;
  height: 42px;
  width: 180px;
  border-radius: 25px;
  color: #FFFFFF;
}
.contacts__body .message a {
  font-family: "Gilroy";
  font-weight: 800;
  font-size: 18px;
  line-height: 40px;
  color: #FFFFFF;
}
.contacts__body .contacts__link {
  padding: 80px 0 45px 0;
  max-width: 342px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.contacts__body .contacts__text p {
  font-family: "Gilroy";
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #828282;
}